# Created by https://www.gitignore.io/api/ava,gradle

#!! ERROR: ava is undefined. Use list command to see defined gitignore types !!#

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
generated/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# IntelliJ IDEA specific git ignore
.idea/
*.iml
*.iws
*.ipr

# External tool builders
.externalToolBuilders/

# Mac
.DS_Store